fileName = "test"
loginUrl = "https://test/auth/login"
checkinUrl = "https://test/user/checkin"
email = "xxx@gmail.com"
password = "xxx"
expire_in = "xxx"

[headers]
Cookie = "uid=xxx; email=xxx%40gmail.com; key=xxx; ip=xxx; expire_in=xxx"
Host = "test"
Origin = "https://test"
Referer = "https://test/user"
sec-ch-ua = '"Google Chrome";v="111", "Not(A:Brand";v="8", "Chromium";v="111"'
sec-ch-ua-platform = "macOS"
User-Agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"
expire_in = "xxx"
Accept = "*/*"
Accept-Encoding = "gzip, deflate, br"
Connection = "keep-alive"